.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
}

.table thead th {
  background-color: #1d1d1d;
  color: #fff;
  font-size: 18px;
  text-align: left;
  padding: 12px 10px;
  width: 19%;
}

.table tbody td {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}

.table tbody td:first-child {
  font-weight: bold;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

.plug {
  text-align: center;
  vertical-align: middle;
}
.del {
  width: 5%;
}