.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #000; 
  table-layout: auto;
}

.table thead th {
  background-color: #1d1d1d;
  color: #fff;
  font-size: 18px;
  text-align: left;
  padding: 12px 10px;
  position: relative;
  border: 1px solid #000; 
  min-width: 50px;
}

.table tbody td {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  border: 1px solid #000; 
  cursor: pointer;
}

.table tbody td:first-child {
  font-weight: bold;
}

.table tbody tr:last-child td {
  border-bottom: none;
}


.plug {
  text-align: center;
  vertical-align: middle;
}


.table tbody tr.dragging {
  opacity: 0.5;
}

.table tbody tr.dragover {
  background-color: #6d3939;
}

.resizer {
  display: inline-block;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 10;
}

.resizer:hover {
  background-color: rgba(4, 4, 4, 0.1);
}


.rowResizerVisible {
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border: 1px solid #999;
  cursor: row-resize;
  z-index: 11;
}


.table tbody tr:hover .rowResizerInvisible {
  cursor: row-resize;
}

.sortedColumn {
  color: #ff9800; 
  font-weight: bold;
}
span {
  cursor: pointer;
}